<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Mbissonho\RememberAdminLastPage\Helper\Data">
        <arguments>
            <argument name="request" xsi:type="object">Magento\Framework\App\RequestInterface\Proxy</argument>
        </arguments>
    </type>

</config>
