<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="admin">
            <group id="mbissonho_remember_admin_last_page" translate="label" type="text" sortOrder="2000" showInDefault="1">
                <label>Remember Admin Last Page</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1">
                    <label>Active</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
